services:
  web:
    build: .
    image: moviehub:latest
    command: bundle exec puma -C config/puma.rb
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/app_development
    depends_on:
      - db
    expose:
      - "9292"

  db:
    image: postgres:18.1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_development
    command: 
      - "postgres"
      - "-c"
      - "log_statement=all"
      - "-c"
      - "log_destination=stderr"
      - "-c"
      - "logging_collector=off"
    volumes:
      - postgres_data:/var/lib/postgresql/18/data

  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web

volumes:
  postgres_data:

